# 目标芯片（运行时通过 idf.py set-target 设置）
# CONFIG_IDF_TARGET_ESP32=y

# 日志级别
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_MAXIMUM_LEVEL_DEBUG=y

# FreeRTOS
CONFIG_FREERTOS_HZ=1000

# 禁用看门狗（调试用）
CONFIG_ESP_TASK_WDT_INIT=n
CONFIG_ESP_INT_WDT=n

# ADC 校准
CONFIG_ADC_CALI_SCHEME_CURVE_FITTING_SUPPORTED=y
CONFIG_ADC_CALI_SCHEME_LINE_FITTING_SUPPORTED=y
