# ESP32-S3
CONFIG_IDF_TARGET="esp32s3"

# 启用 PSRAM (R8 = 8MB)
CONFIG_ESP32S3_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y

# 日志
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# 禁用看门狗
CONFIG_ESP_TASK_WDT_INIT=n
